<div class="max-w-xl mx-auto py-10">
    <div class="text-center mb-10">
        <div class="mb-5 flex items-center justify-center">
            <img class="h-28 w-28 rounded-full border-4 border-purple-200 shadow-lg" src="{{ _user.image }}" alt=""
                class="block">
        </div>
        <h1 class="font-bold text-xl mb-2 text-purple-500 ">{{_user.name}}</h1>
        <p class="text-gray-500 text-sm font-normal leading-relaxed">Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Nam quasi a ipsum distinctio nobis et molestiae debitis non perspiciatis sapiente.</p>
    </div>
    <div class="mb-5 flex justify-between items-center">
        <div>
            {{#if user.isAuthenticated}}
            <button id="new"
                class="bg-purple-500 text-white text-sm font-semibold py-3 focus:ring-2 ring-purple-500 ring-offset-2 px-4 rounded hover:shadow-lg transition">New</button>
            {{/if}}
        </div>
        <div>
            <a href=""
                class="bg-purple-500 text-white text-sm font-semibold py-3 focus:ring-2 ring-purple-500 ring-offset-2 px-4 rounded hover:shadow-lg transition">My
                Profile</a>
        </div>
    </div>
    {{#if user.isAuthenticated}}
    <div class="py-2">
        <div>
            <form action="" method="post" id="formCreateLink" class="hidden p-5">
                <h2 class="text-purple-500 font-medium mb-4 block text-xl">Create new link</h2>
                <div class="mb-3">
                    <label for="title" class="block text-sm font-medium text-gray-700 mb-2">
                        Title <sup class="text-red-500">*</sup>
                    </label>
                    <input type="text" name="title" id="title"
                        class="focus:ring-purple-500 focus:border-purple-500 outline-none appearance-none block w-full text-md p-3 rounded-none border-2 rounded-md sm:text-sm border-gray-200 transition">
                    <p class="mt-2 text-sm text-red-500"></p>
                </div>
                <div class="mb-3">
                    <label for="description" class="block text-sm font-medium text-gray-700 mb-2">
                        Description
                    </label>
                    <textarea name="description" id="description"
                        class="focus:ring-purple-500 focus:border-purple-500 outline-none appearance-none block w-full text-md p-3 rounded-none border-2 rounded-md sm:text-sm border-gray-200 transition"></textarea>
                    <p class="mt-2 text-sm text-red-500"></p>
                </div>
                <button id="create"
                    class="bg-purple-500 text-white text-sm font-semibold py-3 focus:ring-2 ring-purple-500 ring-offset-2 px-4 rounded hover:shadow-lg transition">Create</button>
            </form>
        </div>
    </div>
    {{/if}}

    <div class="space-y-2" id="links">
        {{#each _user.links}}
        <a href=""
            class="block bg-white border border-purple-200 rounded px-3 py-4 focus:ring-2 ring-purple-500 ring-offset-2 transition">
            <div class="mb-4">
                <h2 class="text-purple-500 font-bold">{{title}}</h2>
                <p class="text-sm text-gray-500 font-normal leading-relaxed mt-4">{{description}}</p>
            </div>

            <div class="text-sm text-gray-500">
                <span>Visited : 10 Times</span>
            </div>
        </a>
        {{else}}
        <p class="text-center font-semibold text-red-500 py-10">Links does not exist.</p>
        {{/each}}
    </div>
</div>